body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #bbbbbb;
}

.list-movies-title h1 {
    text-align: center;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.movie {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-title {
    font-weight: bold;
    margin-top: 10px;
}

.movie-year {
    color: #666;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px; /* tooltip size */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
